{{ define "main" }}
<div class="home">
    {{ if .Site.Params.description }}
    <div class="description">
        <h2 style="opacity: 0.1; transition: opacity 0.3s;">{{ .Site.Params.description }}</h2>
    </div>
    {{ end }}
    
    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ if $posts }}
        <section class="recent-posts">
            <h3>recent posts</h3>
            <ul class="post-list">
                {{ range first 5 $posts }}
                <li>
                    <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ if .Description }}
                    <p class="post-description">{{ .Description }}</p>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    {{ if .Site.Params.showSocial }}
    <section class="social-links">
        {{ if .Site.Params.github }}
        <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">github</a>
        {{ end }}
        {{ if .Site.Params.twitter }}
        <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">twitter</a>
        {{ end }}
    </section>
    {{ end }}
</div>
{{ end }}

